name: Checkov Scan

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Checkov
        run: pip install checkov

      - name: Run Checkov Scan
        run: checkov -d terraform/ -o json > checkov-report.json
        continue-on-error: true

      - name: Extract failed checks
        run: |
          jq '.results.failed_checks | map({
            check_id: .check_id,
            rule: .check_name,
            file: .file_path,
            lines: .file_line_range,
            resource: .resource,
            code: (.code_block | map(.[1]) | join("\n"))
          })' checkov-report.json > failed_checks_clean.json

      - name: Upload report
        uses: actions/upload-artifact@v3
        with:
          name: checkov-report
          path: checkov-report.json